<div class="alert alert-success" role="alert">
    <i class="fa fa-check-circle" aria-hidden="true"> {{ title }}</i>
    <p> Mensaje </p>
</div>
<div class="alert alert-info" role="alert">
    <i class="fa fa-info-circle" aria-hidden="true"> {{ title }}</i>
    <p> Mensaje </p>
</div>
<div class="alert alert-warning" role="alert">
    <i class="fa fa-exclamation-circle" aria-hidden="true"> {{ title }}</i>
    <p> Mensaje </p>
</div>
<div class="alert alert-danger" role="alert">
    <i class="fa fa-times-circle" aria-hidden="true"> {{ title }}</i>
    <p> Mensaje </p>
</div>