@import '/src/scss/variables/variables.scss';

.base-alert {
  border-radius: 15px;
  font-size: $font-size-custom;
  font-weight: $font-weight-custom;
  margin: 20px;
  max-width: fit-content;
  min-width: 150px;
  padding: 15px;
  border: none;
  color: $white-color;
}