@import '../../../../scss/variables/variables.scss';

.base-input {
  border-radius: 15px;
  border: none;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  padding: 15px;

  .error-shadow {
    box-shadow: 0 0 0 2px red; /* Cambia el color de la sombra a rojo */
  }

  label {
    color: $black-color;
    font-size: $font-size-custom;
    font-weight: $font-weight-regular;
    padding: 10px 0;
  }

  input {
    border-radius: 5px;
    color: $black-color;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    text-align: end;

    &::placeholder {
      color: $darkgrey-color;
    }

    &#error {
      box-shadow: 0 5px 5px $danger-color;
    }
    
    &.disabled {
      pointer-events: none;
      cursor: not-allowed;
      background-color: $mediumgrey-color;
      border: 2px solid $darkgrey-color;
      box-shadow: none;
    }

    &.enabled {
      border: 2px solid $primary-color;
      background-color: $white-color;
      cursor: pointer;
      
      &.required {
        background-color: red;
      }

      &:focus {
        outline: none;
        border-color: $secondary-color;
        transition: border-color 0.3s ease;
        box-shadow: 0 5px 5px $darkgrey-color;
      }
    }
  }

  &.--small {
    width: 25%;
  }

  &.--medium {
    width: 50%;
  }

  &.--large {
    width: 100%;
  }
}