//Blue Gamma
$darkblue-color: #0081dd;
$mediumblue-color: #0eaee1;
$pastelblue-color: #1ee7e1;

//Pink Gamma
$pink-color: #f7005a;

//Green Gamma
$darkgreen-color: #148F77;
$mediumgreen-color: #17A589;

//Grey Gamma
$white-color: #ffffff;
$mediumgrey-color: #f9fbfa9c;
$darkgrey-color: #7B7D7D;
$black-color: #000000;

//Gamma of alerts 
$danger-color: #C0392B;
$alert-color: #F1C40F;
$successful-color: #27AE60;
$notification-color: #85C1E9;

$background-danger-color: #FFCCCC;

//PrimaryColors
$primary-color: $darkblue-color;
$secondary-color: $mediumblue-color;
$terciary-color: $pink-color;
$linear-gradient: linear-gradient(to right, $primary-color, $terciary-color);