<div ngbDropdown class="d-inline-block dropdown">
  <button
    class="base-button"
    ngbDropdownToggle
    type="button"
    id="base-dropdown-button"
    [class.--disable]="disable"
    [class.--enable]="!disable"
    [class.--loading]="loading"
    data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    {{ getLabel() }}
  </button>
  <div class="dropdown-items" ngbDropdownMenu aria-labelledby="base-dropdown-button">
    <ul ngbDropdown>
      <li><a ngbDropdownItem (click)="onClick.emit($event)">Action</a></li>
      <li><a ngbDropdownItem (click)="onClick.emit($event)">Another action</a></li>
      <li><a ngbDropdownItem (click)="onClick.emit($event)">Something else here</a></li>
    </ul>
  </div>
</div>