<div class="dropdown">
  <button
    class="base-button"
    ngbDropdownToggle
    type="button"
    [class.--disable]="disable"
    [class.--enable]="!disable"
    [class.--loading]="loading"
    data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    {{ getLabel() }}
  </button>
  <ul ngbDropdownMenu class="dropdown-menu">
    <li><a ngbDropdownItem (click)="onClick.emit($event)">Action</a></li>
    <li><a ngbDropdownItem (click)="onClick.emit($event)">Another action</a></li>
    <li><a ngbDropdownItem (click)="onClick.emit($event)">Something else here</a></li>
  </ul>
</div>