@import '../../../scss/variables/variables.scss';

.base-header {
  align-items: center;
  background-color: $mediumgrey-color;
  border-bottom: 10px solid linear-gradient(to right, $primary-color, $terciary-color);
  display: flex;
  justify-content: space-between;
  padding: 0 5%;

  .company-info {
    display: flex;
    align-items: center;

    img {
      width: 100px;
    }

    h1 {
      margin: 6px 0 6px 10px;
      background: linear-gradient(to bottom, $primary-color, $terciary-color);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 1px 3px 0px rgb(1 1 1 / 21%);
    }
  }

  .user-info {
    display: flex;
    align-items: center;
  }
}