@import '/src/scss/variables/variables.scss';

.base-button {
  border-radius: 15px;
  font-size: $font-size-custom;
  font-weight: $font-weight-custom;
  margin: 20px;
  max-width: fit-content;
  min-width: 150px;
  padding: 15px;
  border: none;
  color: $white-color;

  &.--enable {
    background-color: $primary-color;
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 2px 2px $darkgrey-color;

    &:hover {
      background-color: $secondary-color;
      transform: translateY(-2px);
      box-shadow: 0 5px 5px $darkgrey-color;
    }
  
    &:active {
      transform: translateY(-2px);
      box-shadow: 0 2px 2px $darkgrey-color;
    }
  }

  &.--disable {
    pointer-events: none;
    background-color: $darkgrey-color;  
    cursor: none;
    transform: translateY(-2px);
    box-shadow: 0 2px 2px $darkgrey-color;
  }
}