<div class="base-header">
    <div class="company-info">
        <img src="../../../assets/mock1.jpeg" [alt]="getCompanyName()">
        <h1>{{getCompanyName()}}</h1>
    </div>
    <div class="user-info">
        <div *ngIf="currentlyLoggedInUser">
            <span class="welcome">
                Welcome, <b>{{ currentlyLoggedInUser.displayName }}</b>!
            </span>
            <base-button *ngIf="currentlyLoggedInUser" (onClick)="onLogout.emit($event)" label="Log out"></base-button>
        </div>
        <div *ngIf="!currentlyLoggedInUser">
            <base-button *ngIf="!currentlyLoggedInUser" (onClick)="onLogin.emit($event)"
                label="Entrar">
            </base-button>
            <base-button *ngIf="!currentlyLoggedInUser" (onClick)="onCreateAccount.emit($event)"
                label="Nuevo usuario">
            </base-button>
        </div>
    </div>
</div>
<base-lineal-gradient></base-lineal-gradient>