<div [ngClass]="classes">
  <div class="base-label-dropdown">
    <label [for]="control"> {{label}} </label>
    <i *ngIf="required" class="fa fa-asterisk"></i>
  </div>
  <ng-select [items]="items"
             bindLabel="displayName"
             bindValue="value"
             [ngClass]="isDisabled"
             [formControl]="control"
             [required]="required">
  </ng-select>
  <div *ngIf="hasErrorMessage" [ngClass]="errorClasses">
    <label [for]="control"> {{errorMessage}} </label>
  </div>
</div>