@import '../../../../scss/variables/variables.scss';

.base-dropdown {
  border-radius: 15px;
  border: none;
  display: flex;
  flex-direction: column;
  padding: 15px;

  &--small {
    max-width: 25%;
  }

  &--medium {
    max-width: 50%;
  }

  &--large {
    max-width: 100%;
  }

  .base-label-dropdown {
    display: flex;
    align-items: center;

    label {
      color: $black-color;
      font-size: $font-size-custom;
      font-weight: $font-weight-custom;
      padding: 10px 0;
      margin-right: 10px;
    }

    i {
      color: $danger-color;
    }
  }

  select {
    border-radius: 5px;
    color: $black-color;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    text-align: end;

    &:focus {
      outline: none;
      border-color: $secondary-color;
      box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
    }

    &.disabled {
      pointer-events: none;
      cursor: not-allowed;
      background-color: $darkgrey-color;
      border: 2px solid $black-color;
      box-shadow: none;
      color: $black-color;
    }

    &.enabled {
      border: 2px solid $primary-color;
      background-color: $white-color;
      cursor: pointer;

      &::placeholder {
        color: $darkgrey-color;
      }

      &.required {
        background-color: red;
      }

      &:focus {
        outline: none;
        border-color: $secondary-color;
        transition: border-color 0.3s ease;
        box-shadow: 0 5px 5px $darkgrey-color;
      }
    }
  }

  .error-message-input {
    border: 2px solid $danger-color;
    border-radius: 5px;
    padding: 10px;
    background-color: #FFCCCC;

    &--small {
      max-width: 25%;
    }

    &--medium {
      max-width: 50%;
    }

    &--large {
      max-width: 100%;
    }

    label {
      color: $danger-color;
      font-size: $font-size-small;
      font-weight: $font-weight-custom;
    }
  }
}