:root {
    //Blue Gamma
    --darkblue-color: #2471A3;
    --mediumblue-color: #3498db;

    //Violet Gamma
    --darkoviolet-color: #76448A;
    --mediumviolet-color: #AF7AC5;

    //Green Gamma
    --darkgreen-color: #148F77;
    --mediumgreen-color: #17A589;

    //Grey Gamma
    --darkgrey-color: #7B7D7D;
    --mediumgrey-color: #B3B6B7;

    //Gamma of alerts 
    --danger-color: #C0392B;
    --alert-color: #F1C40F;
    --successful-color: #27AE60;
    --notification-color: #85C1E9;

    //Font family
    --font-family: 'Arial', sans-serif;

    //Font weight
    --font-weight-bold: 700;
    --font-weight-regular: 400;
    --font-weight-light: 300;
    --font-weight-custom: 600;

    //Font size
    --font-size-large: 24px;
    --font-size-medium: 18px;
    --font-size-small: 14px;
    --font-size-custom: 20px;
}