@import './variables/variables.scss';

body {
    font-family: $font-family-custom;
    color: $mediumgrey-color;
}

h1 {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    color: $mediumblue-color;
}