//Blue Gamma
$darkblue-color: #2471A3;
$mediumblue-color: #3498db;

//Violet Gamma
$darkoviolet-color: #76448A;
$mediumviolet-color: #AF7AC5;

//Green Gamma
$darkgreen-color: #148F77;
$mediumgreen-color: #17A589;

//Grey Gamma
$white-color: #ffffff;
$darkgrey-color: #7B7D7D;
$mediumgrey-color: #B3B6B7;
$black-color: #000000;

//Gamma of alerts 
$danger-color: #C0392B;
$alert-color: #F1C40F;
$successful-color: #27AE60;
$notification-color: #85C1E9;

//PrimaryColors
$primary-color:  $darkblue-color;
$secondary-color: $mediumblue-color;
$linear-gradient: linear-gradient(to right, #2471A3, #3498db);