//Font family
$font-family-custom: 'Helvetica Neue', sans-serif;

//Font weight
$font-weight-bold: 700;
$font-weight-custom: 400;

//Font size
$font-size-large: 30px;
$font-size-medium: 18px;
$font-size-small: 14px;
$font-size-custom: 16px;